body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f9f9f9;
}

.sidebar {
  width: 200px;
  background-color: #0a0a1a;
  color: white;
  position: fixed;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  color: #ffcc00;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, opacity 0.3s;
  border-radius: 5px;
}

.sidebar li:hover {
  background-color: transparent;
  opacity: 0.6;
  padding-left: 16px;
}

.main {
  margin-left: 220px;
  padding: 40px 60px; /* separación respecto al sidebar */
  color: #333;
}

h2 {
  color: #111;
  margin-bottom: 30px;
}

.formulario {
  max-width: 800px;
  margin: auto;
}

.formulario label {
  display: block;
  margin-top: 20px;
  font-weight: 600;
  font-size: 14px;
}

.formulario input,
.formulario select {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.btn-crear,
.btn-update,
.btn-delete {
  margin-top: 30px;
  background-color: #ffcc00;
  color: #000;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-update:hover,
.btn-delete:hover,
.btn-crear:hover {
  background-color: #ffd700;
}

.main p {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #111;
}

.main h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  color: #111;
}

